* {
    margin-left: 10px;
    background-color: whitesmoke;

}
body{
    display: block;
}


.navbar {
    text-align: center;
    padding: 3px;
    background-color: lightgrey;
    border: 2px solid lightgrey;
    width: 100%;
    margin-top: 13px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#profile {
    background-color: lightgrey;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navelements {
    display: inline;
    background-color: lightgrey;
}

.navbutton {
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px;
    width: 120px;
    border: 5px solid rgb(219, 216, 216);
    background-color: white;
}

.navbutton:hover {
    background-color: lightblue;
    color: white;
}

.mainimg {
    height: 500px;
    margin-top: 40px;
    border-radius: 5px;
    border-top-right-radius: 30%;
}

.content {
    width: 100%;
    display: inline-flex;
}
#column1{
    width: 50%;
}
#column2{
    width:50%;
    
}

.jimmy {
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 4px;
    display: inline;
    height: 0px;
    padding: 30px 10px;
}

#jimmy{
    text-align: left;
    }

.data {
    border-radius: 50%;
    background-color: lightgrey;
    width: 30px;
}

.habbit {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: block;
}

footer {
    padding: 3px;
    background-color: lightgrey;
    border: 2px solid lightgrey;
    width: 100%;
    height: 50px;
    margin-left: -10px;
    margin-bottom: -10px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    text-align: center;
}

.tables {
    width: 90%;
    margin-left: 40px;
}

#table {
    display: inline;
    padding: 3px;
    margin-left: 90px;
}

.th {
    text-align: left;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.sub {
    border: none;
    text-align: center;
    margin-bottom: 30px;
}

.td {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.form {
    border: 2px solid lightgrey;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

#form {
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 4px;
}

input {
    border: 2px solid grey;
    height: 30px;
    display: inline-block;
}

textarea {
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
    height: 200px;
    width: 50%;
}

#a {
    background-color: lightgrey;
}
